.card {
    border-radius: 8px;
    width: 190px;
    height: 254px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 8px 8px 32px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 8px 8px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 8px 8px 64px 0px rgba(208, 208, 231, 0.75);
    
    height: 600px;
    width: 400px;
    text-align: center;
}